<footer class="site-footer">

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript" src="/assets/js/config.js"></script>
<!-- You should remove this next line. It is only used by me, the developer of the boilerplate  -->
<script type="text/javascript" src="/assets/js/private_config.js"></script>

<script type="text/javascript" src="/assets/js/api.js"></script>


</footer>
